
.grid-container{
    display:grid;
    grid-template-columns: repeat(20, auto);
    width: 60vh;
    height: 60vh;
    grid-gap:0.8px;
    position: fixed;
    top: 20vh;
    left: 60vh;
}

.grid-item{
    border: 0.5px solid rgba(0, 0, 0, 0.8);
    width: auto;
    height: auto;
    border-radius: 5px;
}

#reset-button{
    height: 50px;
    width: 50px;
}